.navbar.filterArea{

}

.navbar.filterArea > .navbar-item{
    padding-bottom: 0px;
}

.navbar.filterArea .field:not(:last-child) {
    margin-right: 10px;
}

.navbar.filterArea .compactFilter{
    flex-basis: 200px;
}

.navbar.filterArea .compactFilter i{
    color: #c448f2;
}

.navbar.filterArea .searchButton a{
    color: #f0f0f0;
    background: #540d6e;
}

