@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.navbar.mainNavBar{
    background-color: #171738;
    border-bottom: solid 5px #540D6E;
}

.navbar.mainNavBar .navbar-brand{
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    min-height: 2rem;
}

.navbar.mainNavBar .navbar-item{
    color: white;
}

.navbar.mainNavBar a.navbar-item.is-active, 
.navbar.mainNavBar a.navbar-item:hover, 
.navbar.mainNavBar a.navbar-link.is-active, 
.navbar.mainNavBar a.navbar-link:hover{
    background-color: #540D6E;
    color: #F0F0F0;
}

.navbar.mainNavBar .navbar-item img{
    margin-right: 10px;
}