@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.navbar{
    background-color: #171738;
    border-bottom: solid 5px #540D6E;
}

.navbar-brand{
    font-family: 'Poiret One', cursive;
    font-size: 24px;
}

.navbar-item{
    color: white;
}

a.navbar-item.is-active, a.navbar-item:hover, a.navbar-link.is-active, a.navbar-link:hover{
    background-color: #540D6E;
    color: #F0F0F0;
}

.navbar-item img{
    margin-right: 10px;
}