div.realEstatePanel-container{
    width: 100%;
    margin: auto;
    padding: 24px;
}

div.realEstatePanel-container .title{
    font-size: 1.75rem;
}

a.realEstatePanel-backlink{
    margin-left:-30px;
    color: #3423A6;
}

